In [3]:
import pandas as pd
df=pd.read_csv("heartdis.csv")
df.head(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [54]:
X=df[['age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal']]
y=df[['target']]

In [55]:
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,train_size=0.80,random_state=0)
#X_norm=preprocessing.normalize(X_train)
print("training set: ", X_train.shape,y_train.shape)
print("testing set: ", X_test.shape,y_test.shape)

training set:  (242, 13) (242, 1)
testing set:  (61, 13) (61, 1)

In [56]:
y_train=y_train.values.ravel()
#y_train.shape

In [66]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression(solver='lbfgs',random_state=42)
model.fit(X_train,y_train)
a=[[41,0,1,130,204,0,0,172,0,1.4,2,0,2]]
y_true=[[1]]
result=model.predict(a)
res=result.reshape(-1,1)
print(res)

[[1]]

c:\users\arpit\appdata\local\programs\python\python36\lib\site-packages\sklearn\linear_model\logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

In [64]:
from sklearn.metrics import accuracy_score
print("Accuracy: %.4f" %accuracy_score(result,y_test))

Accuracy: 0.8525